<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="toolbar">
    <span>The New Store</span>
    <button mat-button style="text-align: right" (click)="onCheckOut()"><span>CheckOut</span></button>
</mat-toolbar>
<div class="container">
    <mat-accordion>
        <ng-container *ngFor="let item of items; let i = index">
            <app-item [item]="item" [index]="i" (countUpdated)="onValueUpdate($event)"></app-item>

        </ng-container>


    </mat-accordion>
</div>